a {
    color: darkred;
}

a:visited {
    color: FireBrick;
}

a:active {
    color: Red;
}

body {
    color: black;
    background: rgb(255, 255, 255);
}

.nav-button {
    background-color: rgba(200, 200, 200, 0.5);
    border: 0px;
    color: #000000;
}

.nav-card {
    background-color: rgba(200, 200, 200, 0.5);
    padding-top: 0px;
    border: 0px;
}

.manga-nav-card {
    background-color: rgba(200, 200, 200, 0.5);
    padding-top: 0px;
    border: 0px;
}

.index-logo-data {
    content: url(/img/logo-b.png);
}