a {
    color: Pink;
}

a:visited {
    color: HotPink;
}

a:active {
    color: PaleVioletRed;
}

body {
    color: white;
    background: #000000;
}

.nav-button {
    background-color: rgba(16, 16, 16, 0.5);
    border: 0px;
    color: #ffffff;
}

.nav-card {
    background-color: rgba(16, 16, 16, 0.5);
    padding-top: 0px;
    border: 0px;
}

.manga-nav-card {
    background-color: rgba(16, 16, 16, 0.5);
    padding-top: 0px;
    border: 0px;
}

.index-logo-data {
    content: url(/img/logo-w.png);
}