.progress-page {
    width: 100%;
}
.cover {
    width: 25%;
}
.invis {
    display: none;
}
.card {
    transition: 0.3s;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    font-family: "Comic Sans MS";
    text-align: left;
}
.cardch {
    transition: 0.3s;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    font-family: "Comic Sans MS";
}