.progress-page {
    width: 100%;
}

.invis {
    display: none;
}
.card {
    transition: 0.3s;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    font-family: "Comic Sans MS";
    text-align: left;
}
.cardch {
    transition: 0.3s;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    font-family: "Comic Sans MS";
}

@media only screen and (min-width : 801px) { 
    .cover {
        width: 90%;
    }
}

@media only screen and (max-width : 800px) {
    .cover {
        width: 25%;
    }
}