.progress-page {
    width: 100%;
}

.invis {
    display: none;
}
.card {
    transition: 0.3s;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}
.cardch {
    transition: 0.3s;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

@media only screen and (min-width : 801px) { 
    .cover {
        width: 90%;
    }
}

@media only screen and (max-width : 800px) {
    .cover {
        width: 25%;
    }
}