.theme-button {
    width: 50%;
    height: 15%;
    font-family: "Comic Sans MS";
    cursor: pointer;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.theme-button:hover {
    opacity:0.8;
}
