@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Roboto', sans-serif;
}

#hrinvis {
    size: 3px;
}

.links {
    text-decoration: none;
}

.body-index {
    /* NULL */
}

.body-project {
    /* NULL */
}

.body-firefox {
    /* NULL */
}

.hr-i {
    height: 1px;
}

img {
    width: 100%;
}

ul {
    list-style-position: inside;
}

#lista {
    text-align: left;
}

#bodydiv {
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
}

.contentdiv {
    /* NULL */
}

#card {
    transition: 0.3s;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

.card-title {
    padding: 1px 0px 1px 10px;
    font-family: 'Roboto', sans-serif;
}

.card-text {
    padding: 1px 0px 1px 5px;
}

.card-button {
    padding: 5px;
    cursor: pointer;
    opacity: 1;
}
.card-button:hover {
    opacity:0.8;
}
.card-button-block {
    padding: 5px 0px 5px 5px;
}

.copyright {
    padding: 10px;
    right: 1em;
    text-align: center;
    bottom: 1em;
}

#maindiv {
    margin-top: 0px;
}


table {
    margin: 0 auto 0 auto;
}

th {
    text-align: center;
}

td, th {
    padding: 2px;
}
.sitebuttons {
    opacity:0.6;
}
.sitebuttons:hover {
    opacity:1;
}

.homebuttons {
    opacity:0.6;
}
.homebuttons:hover {
    opacity:1;
}

.al-left {
    text-align: left;
}

.nav-button {
    padding: 5px;
    opacity: 1;
    margin-bottom: 2px;
    font-family: 'Roboto', sans-serif;
}

.button-e {
    opacity: 1;
    cursor: pointer;
}
.button-e:hover {
    opacity: 0.8;
    cursor: pointer;
}

.block-text {
    cursor: pointer;
    opacity: 1;
    margin-top: 2px;
    padding: 5px;
}

.nav-hr {
    width: 95%;
    height: 1px;
    visibility: hidden;
}

.invis {
    display: none;
}

.card-block-h {
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-block {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.index-links {
    margin-top: 10px;
    width: 70%;
}

@media only screen and (min-width : 801px) {
    .pc-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
    .sitebuttons {
        width: 100%;
    }
    .homebuttons {
        width: 8%;
        padding-top: 5px;
    }
    table {
        width: 150px;
    }
    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 100%;
        padding: 0;
    }
    .onecol {
        width: 20%;
        height: 100%;
        background-clip: content-box;
        list-style: none;
        padding-right: 1%;
    }
    .twocol {
        width: 79%;
        height: 100%;
        background-clip: content-box;
        list-style: none;
    }
    .nav-button {
        width: 100%;
        height: 15%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .block-text {
        width: 100%;
        height: 15%;
    }
    .index-manga-one-1 {
        width: 49%;
        float: left;
    }
    
    .index-manga-one-2 {
        width: 49%;
        float: right;
    }
    
    .index-cover {
        width: 30%;
        margin: 7px 7px 7px 0;
    }
    
}

@media only screen and (min-width : 801px) and (max-width : 1090px) {
    .titlediv {
        font-size: 60%;
    }
}

@media only screen and (min-width : 1091px) {
    .titlediv {
        font-size: 80%;
    }
}



@media only screen and (max-width : 800px) {
    .sitebuttons {
        width: 100%;
    }
    .homebuttons {
        width: 8%;
        padding-top: 5px;
    }
    table {
        width: 130px;
    }
    .pc-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    .nav-button {
        width: 100%;
        height: 30%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .block-text{
        width: 100%;
        height: 30%;
    }
    .index-cover {
        width: 30%;
        margin: 7px 7px 7px 0;
    }
}